@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');
#preloader{
    background:#000000 url('https://cdn.dribbble.com/users/42176/screenshots/4709515/kf_1-9-2_simple-loading-boxes.gif') no-repeat center center;
    background-size:30%;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}


@media screen and (min-width: 360px) and (max-width:700px) {
    #preloader{
        height: 110vh;
        background-size:100%;
    }
}

body{
    letter-spacing:1.3px;
}

.navbar{
    position: fixed;
    z-index: 999;
    top: -1;
    left: 0;
    
    transition: all 1s ease;
    /* filter: blur(5px); */
    width: 100%;
}
nav.sticky{
    /* padding: 5px 100px;  */
    backdrop-filter: blur(6px);
    color: #fff;
}
.brand-and-toggler{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.navbar-brand{
    /* text-transform: uppercase; */
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.8rem;
    font-weight:500;
}
.navbar-brand  > span{
    color:var(--green);
}
.navbar-toggler{
    border: none;
    font-size: 1.7rem;
    background: none;
    color: var(--white);
    cursor: pointer;
    outline: none;
    transition:var(--transition);
}
.navbar-toggler:hover{
    opacity:0.8;
}
.navbar-collapse{
    height:0;
    overflow:hidden;
    transition:var(--transition);
}
.nav-item{
    text-align:center;
    padding: 0.6rem;
    position:relative;
    letter-spacing: 1.2px;
    font-weight: 600;
}
@media  (min-width:200px) and (max-width:992px){
    .navbar{
        background: #111;
    }     
}
.nav-item::after{
    content:"";
    position: absolute;
    bottom:4px;
    left: 50%;
    transform:translateX(-50%);
    border-radius:5px;
    width:0;
    height:2px;
    background:var(--green);
    transition:var(--transition);

}
.nav-item:hover::after{
    width: 100px;
}
.nav-link{
    text-transform: uppercase;
    font-size: 12px;
    transition: var(--transition);
    font-family: "Red Hat Display", sans-serif;
    letter-spacing: 1.9px;
}
.nav-link:hover{
    color: var(--green);
}
.nav-active .nav-link{
    color: var(--green);
}


.showNav{
    height: 385px;
}


.home{
    padding:5rem 0 2.5rem 0;

}
.home .row{
    margin:0 2%;
}
.home .row > div{
    height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--nero);
    border-radius: 10px;
    margin: 2rem 0;
}

.home  .row-left{
    text-align: left;
    position: relative;
    top: -20px;
}
.home .row-left h3{
   color: #fff;
   font-weight: 400;
   font-size: 1.2rem;
   text-transform: uppercase;
   text-align:left;

}
.home .row-left h1{
font-size:40px;
font-family: var(--mont);
text-transform: capitalize;
line-height: 1.2;
letter-spacing:1.9px;
font-weight:900;

}

.home .row-left h1 span{
    color: var(--green);

}
.home .row-left h2{
    text-transform: uppercase;
    font-family: var(--mont);
    font-size: 1rem;
}
.home-pg-btn{
    display:flex;
    margin: auto;
}
.home-pg-btn button{
    padding: 0.8rem;

    margin-right: 0.6rem;
    border: 1px solid #f7f7f7;
}
.home-pg-btn a:first-child{
    border-color: var(--green);
}
/* .home-pg-btn a:last-child{
    border-color:transparent;
    color: #fff;
} */

.home .img-container{
    position: relative;
    bottom:-90px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    margin:auto;
    

}
.home .img-border{
    background: var(--nero);
    width: 245px;
    height: 245px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
}



/*  Animation-area    *//*
.animation-area{
    z-index: -1000;
}
.box-area{
    position:absolute;
    top: 0;
    left: 0;width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-area li{
    position:absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    z-index: -100;
    background: rgba(238, 226, 226, 0.295);
    animation:animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1){
    left:86%;
    width: 80px;
    height: 80px;
    animation-delay:0s ;
}
.box-area li:nth-child(2){
    left:12%;
    width: 100px;
    height: 100px;
    animation-delay:1.5s ;
    animation-duration: 10s;
}

.box-area li:nth-child(3){
    left:70%;
    width: 100px;
    height: 100px;
    animation-delay:5.5s ;

}

.box-area li:nth-child(4){
    left:70%;
    width: 150px;
    height: 150px;
    animation-delay:0s ;
    animation-duration: 15s;

}

.box-area li:nth-child(5){
    left:65%;
    width: 40px;
    height: 40px;
    animation-delay:0s ;
    

}
box-area li:nth-child(6){
    left:15%;
    width: 110px;
    height: 110px;
    animation-delay:3.5s ;
    

}

@keyframes animate{
    0%{
        transform:translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform:translateY(-800px) rotate(360deg);
        opacity:0;
    }
}*/
/* ###About */
.about{
    padding:5rem 0 2.5rem 0;
}
.about .row-right{
    padding:3rem 0;
}
.about .row-right p{
    margin:1rem 0;
}
.about-content{
    margin: 1.5rem 0;
}
.about-content li{
    display:flex;
    margin:0.6rem 0;
}
.about-content li span{
    flex:1;
}
.about-content li span:first-child{
    color: var(--white);
    font-weight: 600;
}
.about .row-right h3{
    color: var(--green);
    font-size:1.5rem;
}
.about .row-right h3 span{
  color: var(--white);
  font-weight: 400;
}


/*contacts*/
.contact{
    padding: 5rem 0 2.5rem 0;

    
}
.contach > .text{
    width: 70%;
    margin:1.5rem auto;
    text-align:center;
}
.contact .row{
    margin: 1rem 0;
}
.contact .row > div{
    margin: 2.5rem 0;
    padding: 2rem 0;
}
.contact .col-left h2{
    text-transform: uppercase;
}
.contact .contact-info{
    margin: 1rem 0;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}
.contact .contact-info > span{
    color: var(--green);
    font-size: 2.6rem;
    margin-right: 1.2rem;
}
.contact .contact-info h3{
    font-size: 1rem;
    font-weight: 400;
}
.contact .contact-info h3 span{
    text-transform: uppercase;
    font-size: 1.05rem;
}
.contact .contact-social-links{
    display:flex;
}
.contact .contact-social-links a{
    display: block;
    width: 50px;
    height: 50px;
    background: var(--nero);
    margin:0 0.6rem;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    transition:var(--transition);
}
.contact .contact-social-links a:first-child{
    margin-left: 0;
}

.contact .contact-social-links a:hover
{
    background:var(--green);
}

.contact-form input, .contact-form textarea{
    width:100%;
    margin: 1rem 0;
    background: var(--nero);
    border: 2px solid transparent;
    font-size:1rem;
    padding:0.8rem 1rem;
    border-radius:25px;
    outline: 0;
    color: var(--white);
}


.contact-form input:focus, .contact-form textarea:focus{
    border-color: var(--green);
}
.contact-form input::placeholder, .contact-form textarea::placeholder{
   text-transform:uppercase;
}


/*team*/
.team{
    padding: 5rem 0 2.5rem 0;
}

.team > .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}
.team .item{
    margin: 1rem 0;
    background: var(--nero);
    border-radius:5px;
    overflow: hidden;
}
.team .item .item-img{
    border-bottom: 6px solid var(--green);
    overflow: hidden;
}
.team .item .item-img img{
    transition:var(--transition);
    height:100vh;
}


.team .item .item-img:hover img{
    transform:scale(1.1);
}
.team .item .img-content{
 padding:1.5rem;
}
.team .item .img-content span{
    text-transform: uppercase;
    color: var(--green);
    font-size: 1.3rem;
}
.team .item .img-content h2{
    font-family: var(--mont);
    font-weight:400;
    font-size:1.4rem;
}



.skills{
    padding: 5rem 0 2.5rem 0;
}

.skills > .text{
    width: 70%;
    margin:1.5rem auto;
    text-align: center;

}

.skills .row{
    margin :1rem 0;
}

.skills .item{
    margin:0.5rem 0;
    margin: 0.3rem 0;
}
.skills .item-text{
    display: flex;
    justify-content:flex-start;
    font-weight:600;
    font-size:1.3rem;
    position: relative;
}

.skills .item-text span:last-child{
    position: absolute;
}
.skills .item-text .w-90{
    margin-left:85% ;
}
.skills .item-text .w-80{
    margin-left:75% ;
}
.skills .item-text .w-75{
    margin-left:70% ;
}
.skills .item-text .w-60{
    margin-left:55% ;
}
.progress {
    margin: 0.8rem 0;
    border-radius: 10px;
    height:16px;
    width: 100%;
    background: var(--nero);
    overflow: hidden
}

.progress-bar{
    background: var(--green);
    height:100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius:2px ;
}
.progress-bar.w-90{
    width:90%;
}
.progress-bar.w-80{
    width:80%;
}
.progress-bar.w-75{
    width:75%;
}
.progress-bar.w-60{
    width:60%;
}


/*resume*/
.resume{
    padding:5rem 0 2.5rem 0;
}
.resume > .text{
    width:70%;
    margin: 1.5rem auto;
    text-align:center;
}
.resume .item{
    padding: 0 2.5rem;
    margin:2rem;
    border-left: 1px solid var(--nero);
    position: relative;
}

.resume .item > span{
    background:var(--nero);
    border-radius: 15px;
    padding:0.25rem 0.7rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight:600;

}
.resume .item h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size:1.2rem;
}
.resume .item h2 span{
    font-size:1rem;
    color: #d0d0d0;
}
.resume .item .text{
    font-size: 1rem;
    padding-bottom:0;
}
.resume .icon{
    
    position:absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background:var(--green);
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items:center;
    left: -25px; 
  
}

/*projects*/
.projects{
    padding:5rem 0 2.5rem 0;
}
.projects > .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align:center;
}

.projects .item{
    margin:2rem 0;
    height:320px;
    width: 100%;
    position: relative;
    
}

/* news - https://thumbs.dreamstime.com/b/newspaper-icon-neon-style-one-journalism-collection-can-be-used-ui-ux-black-background-126560964.jpg */
/* statify - https://images.unsplash.com/photo-1616356607338-fd87169ecf1a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bXVzaWMlMjBwbGF5ZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60 */
/* music player - ../images/music1.png */
/* snake - ../images/snake.png */
/* food - ../images/food.jpg */
/* dog - ../images/dog.jpg */
/* simon - ../images/simon.jpg */
/* drum - ../images/drum1.jpg */
/* todo - https://www.truhome.com/wp-content/uploads/2021/05/ecommerce-checklist-770x515-1.jpg */
/* codepen - https://pbs.twimg.com/media/C41UTbwUMAEfx7N.jpg */
/* inshorts - https://arjunsubburaj.files.wordpress.com/2015/09/newsinshortscloneicon.jpg?w=1000 */
.projects .row .item:nth-child(1){
    background:url("../images/live-connect.png") center/cover no-repeat;
}
.projects .row .item:nth-child(2){
    background:url("https://sm.pcmag.com/pcmag_au/review/s/slack/slack_698p.jpg") center/cover no-repeat;
}
.projects .row .item:nth-child(3){
    background:url("https://cdn.vox-cdn.com/thumbor/3S4C3WEJONntPuOn3RFxrgDQbAI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/13412121/disneyplus.0.jpg") center/cover no-repeat;
}
.projects .row .item:nth-child(4){
    background:url("https://www.sparkcognition.com/wp-content/uploads/2021/03/AI-News-Logo-2.png") center/cover no-repeat;
}

.projects .row .item:nth-child(5){
    background: url("https://pbs.twimg.com/media/C41UTbwUMAEfx7N.jpg") center/cover no-repeat;
}
.projects .row .item:nth-child(6){
    background: url("../images/music1.png") center/cover no-repeat;
}
.projects .row .item:nth-child(7){
    background: url("../images/snake.png") center/cover no-repeat;
}
.projects .row .item:nth-child(8){
    background: url("../images/simon.jpg") center/cover no-repeat;
}
.projects .row .item:nth-child(9){
    background: url("https://www.truhome.com/wp-content/uploads/2021/05/ecommerce-checklist-770x515-1.jpg") center/cover no-repeat;
}
.projects .row .item:nth-child(10){
    background: url(" https://arjunsubburaj.files.wordpress.com/2015/09/newsinshortscloneicon.jpg?w=1000") center/cover no-repeat;
}
.projects .row .item:nth-child(11){
    background: url("https://images.unsplash.com/photo-1616356607338-fd87169ecf1a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bXVzaWMlMjBwbGF5ZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") center/cover no-repeat;
}
.projects .row .item:nth-child(12){
    background: url(" ../images/drum1.jpg") center/cover no-repeat;
}
.projects .row .item:nth-child(13){
    background: url("../images/food.jpg") center/cover no-repeat;
}
.projects .row .item:nth-child(14){
    background: url("../images/dog.jpg") center/cover no-repeat;
}



.projects .item .item-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    opacity:0;
    transition:var(--transition);
}
.projects .item .item-overlay a{
    text-transform: capitalize;
    width: 50%;
    margin:0 auto;
    font-size: 1.25rem;
    font-weight:bold;
    padding:10px 15px;
    border-radius: 2px;
    background: #fff;
    opacity: 1;
    color:#111;
    font-family: var(--mont);
}

.projects .item .item-overlay h3{
    text-transform: uppercase;
    font-weight:bold;
    color:#fff;
    font-size:1rem;
    letter-spacing:3px;
    border:solid 2px #fff;
    border-radius: 3px;
    width: 50%;
    margin: 10px auto;
    padding:10px 15px;
}

.projects .item:hover .item-overlay{
        opacity:1;
        
        background:rgba(0, 0, 0, 0.932);
        
}




/* footer */

.footer{
    padding: 2.5rem 0;
    border-top: 1.5px solid #252525;
}
.footer-title{
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: var(--mont);
    font-weight:700;
}
.footer .col{
    text-align: center;
    padding:1rem 0;
}

.footer .col:first-child .text{
    width:80%;
    margin:0 auto;

}

.social-links{
 display: flex;
 justify-content:center;
}

.social-links a
{
    background:var(--nero);
    width:50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 50%;
    margin: 1.5rem 0.5rem;
   transition:var(--transition);
}
.social-links a:hover{
    background:var(--green);
}

.footer-links a{
    display:block;
    text-transform: capitalize;
    padding: 0.2rem 0;
    transition:var(--transition);
}
.footer-links a .fas{
    display:none;
}
.footer-links a:hover{
    color: var(--white);
}
.footer .col:last-child div{
    padding:0.2rem 0;
}

.footer .col:last-child .fas{
    padding-right: 0.5rem;
}
.footer-text .text{
    text-align:center;
}

@media screen and (min-width:500px) {
    .home .row-left h1{
        font-size:2rem;
    }
    .home .row-left h2{
        font-size:1.4rem;
    }
    .home-pg-btn button{
        padding: 1rem 1.5rem;
    }
    .home .img-container{
        width: 315px;
        height:315px;
        bottom:-13px;
        right: -5px;
    }
    .home .img-border{
        width:325px;
        height:325px;
    }

}
@media screen and (min-width:768px){
    .footer .row{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }

    /* about page */

    .about .row-left{
        width:400px;
        height:400px;
        margin: 1rem auto;
        overflow:hidden;
        border-radius:50%;
        position:relative;
    }



    /*contact*/
    .contact-form .form-group{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;
    }
    .contact .row > div{
        margin:0;
    }


    /*team*/
    .team .row{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
    }




    /*skills*/
    .skills .row{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
    }

    /*projects*/
    .projects .row{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:2rem;
    }
    .projects .row .item{
        margin: 0;
    }
    .projects .row .item:nth-child(2){
        grid-column: 2/4;
    }
   
    .projects .row .item:nth-child(3){
        grid-column: 1/3;
    }
    .projects .row .item:nth-child(6){
        grid-column: 2/4;
    }
    .projects .row .item:nth-child(7){
        grid-column: 1/3;
    }
    .projects .row .item:nth-child(10){
        grid-column: 2/4;
    }
    .projects .row .item:nth-child(11){
        grid-column: 1/3;
    }
    .projects .row .item:nth-child(14){
        grid-column: 2/4;
    }
   
   
}
@media screen and (min-width:992px){
    
    .navbar-toggler{
        display: none;
    }
    .navbar .container{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items:center;
    }
    .navbar-nav{
        display: flex;
        justify-content: flex-end;
    }
    .navbar-collapse{
        
        height: 100%;
        flex:1 0 auto;
    }
    .brand-and-toggler{
        flex: 0 0 100px;
    }
    .nav-item{
        margin-top:0 0.5rem;
          
    }
    .nav-link{
        font-size :0.8rem;
        backdrop-filter: none;
        
    }
     /*home*/
     .home .row{
         display:grid;
         grid-template-columns: repeat(2,1fr);
         grid-gap: 2rem;
     }
     .home .row > div{
         height: calc(100vh - 73px);
         border: none;
         margin: 0;
         align-items: center;
     }
.home-pg-btn{
    margin: 20px ;
}
.home .row-left{
    text-align: center;
}
.home .img-container{
    width: 100%;
    height: 100%;
    border-radius: unset;
}
.home .img-border{
    height: 90%;
    width: 70%;
    transition: var(--transition);
    border-radius:unset;
    background:transparent;
}
.home .img-border:hover{
    transform:translateY(-14px);
}

  .about .row{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      align-items:center;
      grid-gap: 2rem;
  }


  /*contact*/
  .contact .row{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 2rem;
  }

.resume .row{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}


}


@media screen and (min-width:1200px){
    .footer .row{
        grid-template-columns: repeat(4,1fr);
    }
    .footer .row .col{
        text-align: left;
    }
.footer .col:first-child .text{
    margin: 0;
}
.social-links{
    justify-content:flex-start;
}
.footer-links a .fas{
    display:inline-block;
}

/*team*/
.team .row{
    grid-template-columns: repeat(3,1fr);
}




}
.justify{
    text-align: justify;
}



/*----------------------------------------------------------------
*/
.resize-animation-stopper *{
    animation:none !important;
    transition:none !important;
}








